{% extends 'base.html' %} 
{% block content %}
<link
      rel="stylesheet"
      href="{{url_for('static', filename='css/home.css')}}"
    />
<div class="main">
  <text>Temp-Chat</text>
  <p>A simple disposable chatroom for freedom & anonymity </p>
  <hr style="width:10%;text-align:left;margin-left:0;margin-top: 15px;margin-bottom: 15px;">

  <p style="font-size: medium;">Forget about <i>getting tracked</i>, <i>cleaning chats</i>, <i>restrictions</i>. Make your identity only available with just a name and chats with no traces/proof. Temp Chat provides temporary, free, disposable chatrooms, with a 4-digit code, by which others whom you trust can join the chatroom as well. Make sure to keep the 4-digit code secret and share with the ones you trust to join your chatroom. 
    <br>
    <br>
    The primary focus of Temp Chat is the freedom of online messaging with messages not getting stored anywhere and erased once the chatroom is empty. Temp Chat will also soon host this service as an onion service on <i>Dark Web</i>. TempChat is developed by <a href="https://dwijottam-dutta.github.io">Dwijottam Dutta</a>
    <br>
    <br>
    <br>
    <b>Note:</b> The chatroom code is immediately trashed out once there is no user in the chatroom.
  </p>
  
</div>




<script type="text/javascript">

</script>
{% endblock %}
