{% extends 'base.html' %} 
{% block content %}
<link
      rel="stylesheet"
      href="{{url_for('static', filename='css/home.css')}}"
    />
<div class="main">
  <text>Temp-Chat</text>
  <p>A simple disposable chatroom for freedom & anonymity </p>
  <div class="options">
    <b>></b>
    <a id="join" onclick="ROOM_JOIN_BLIT()"><u>Join</u></a>
    <b>|</b>
    <a id="create" onclick="ROOM_CREATE_BLIT()"><u>Create</u></a>
    <b>|</b>
    <a id="about" href="/about"><u>About</u></a>
    <b><</b>
  </div>





  <!-- JOIN ROOM FORM -->
  <form method="post" id="join-room-form">

    <div>
      <label>Name:</label>
      <div class="form-text">
        <input type="text" placeholder="Pick a Name !" name="name" value="{{name}}"/>
        <label class="static-value">></label>
      </div> 
    </div>

    <div>
      <label>Code:</label>
      <div class="form-text">
        <input type="text" placeholder="_" id="width-85" name="code" value="{{code}}" />
        <label class="static-value">></label>
        <button type="submit" name="join" id="join-form-button"><i class="fas fa-sign-in-alt"></i></button>
      </div>
    </div>

    {% if error %}
    <label style="text-align: center; margin-left: 0%; margin-top: 20px;">{{error}}</label>
    {% endif %}

  </form>







  <!-- CREATE ROOM FORM -->
  <form method="post" id="create-room-form">
    <div>
      <label>Name:</label>
      <div class="form-text">
        <input type="text" placeholder="Pick a name!" name="name" value="{{name}}"/>
        <label class="static-value">></label>
      </div> 
      <button style="width: 100%; margin-top: 10px;" type="submit" name="create" class="create-btn">
        Create a Room
      </button>
    </div>
  </form>

</div>



<script type="text/javascript">
  function ROOM_JOIN_BLIT() {
      document.getElementById("join-room-form").style.display = "flex";
      document.getElementById("create-room-form").style.display = "none";
    }

    function ROOM_CREATE_BLIT() {
      document.getElementById("join-room-form").style.display = "none";
      document.getElementById("create-room-form").style.display = "flex";
    }
</script>
{% endblock %}
