{% extends 'base.html' %} 
{% block content %}
<link
      rel="stylesheet"
      href="{{url_for('static', filename='css/room.css')}}"
    />
<div id="term_and_condition">
  <b>ChatRoom Code</b>: <u>{{code}}</u>
</div>
<div id="message-container"></div>
<form id="send-container">
  <input
    type="text"
    placeholder="Enter your message here ..."
    id="message-input"
    autocomplete="off"
  />
  <button type="submit" id="send-button" onClick="sendMessage()">
    <i class="fas fa-paper-plane"></i>
  </button>
</form>


<script type="text/javascript">
  var socketio = io();

  const messages = document.getElementById("message-container");

  const createMessage = (name, msg) => {
    const content = `
    <div class="text">
        <span class="main_msg">
            <strong>${name}</strong>
            <p>${msg}</p>
        </span>
        <span class="muted">
            ${new Date().toLocaleString()}
        </span>
    </div>
    `;
    messages.innerHTML += content;
  };

  socketio.on("message", (data) => {
    createMessage(data.name, data.message);
  });

  const sendMessage = () => {
    const message = document.getElementById("message-input");
    if (message.value == "") return;
    socketio.emit("message", { data: message.value });
    message.value = "";
  };



  // RESTRICTING DEFAULT ACTION OF SEND BOX
  document.getElementById("send-container").addEventListener("submit", (e) => {
      e.preventDefault();
  });


  const scrollToBottom = (id) => {
    const element = document.getElementById(id);
    element.scrollTop = element.scrollHeight;
  }

  setInterval(() => {
    scrollToBottom("message-container")
  }, 1000);
</script>

{% endblock %}